* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  background: blueviolet;
  color: wheat;
}

ul {
  display: flex;
  padding: 20px;

  list-style: none;
}
